html, body {
	margin: 0%;
}
.container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	display: grid;
	grid-template-columns: 15% auto 15%;
	grid-template-rows: 50px auto 50px;
	grid-template-areas: "navbar navbar navbar"
						 "sidebar1 main sidebar2"
						 "footer footer footer";
}
.navbar {
	grid-area: navbar;
	display: flex;
	flex-direction: row;
	justify-content: center;
  	background-color: #333;
  	color: white;
  	text-align: center;
  	font-family: lucida console;
  	padding-right: 20px;
  	padding-left: 20px;
}
.sidebar1 {
	grid-area: sidebar1;
	border-right-style: solid;
	border-right-width: 1px;
	background-color: rgb(218, 220, 222);
	padding: 10px;
	font-family: lucida console;
}
.sidebar2 {
	grid-area: sidebar2;
	border-left-style: solid;
	border-left-width: 1px;
	background-color: rgb(218, 220, 222);
	padding: 10px;
	font-family: lucida console;
}
.main {
	padding: 10px;
	grid-area: main;
	background-color: white;
	font-family: lucida console;
}
.posts{
	list-style: none;
	background-color: lightgray;
}
.title{
	font-weight: bold;
	background-color: lightblue;
	margin-right: 40px;
}
.content{
	background-color: lightblue;
	margin-right: 40px;

}
.footer {
	grid-area: footer;
	background-color: #333;
	text-align: center;
	color: white;
}
.navbar a {
	color: white;
}
.navbar input[type=text] {
	float: right;
  	padding: 6px;
  	border: none;
  	margin-top: 6px;
  	margin-right: 50px;
  	font-size: 17px;
  	height: 45%;
}
.login {
	margin: auto;
	border-style: solid;
	border-width: 2px;
	width: 60%;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
}
.login input {
	width: 98%;
	height: 50%;
}
.login button {
	background-color: rgb(100, 179, 176);
	font-family: lucida console;
	font-weight: bold;
	font-size: 15px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-radius: 5px;
	height: 30px;
	width: 99%;
}
.login button:hover {
	background-color: rgb(100, 165, 176);
}

.userProfile {
	margin: auto;
	border-style: solid;
	border-width: 2px;
	width: 80%;
	padding-left: 100px;
	padding-right: 10px;
	padding-bottom: 5px;
}
